{% extends 'base.html.twig' %}

{% dump talleres %}


{% block body %}

<h1>Próximos Talleres:</h1>

{% for taller in talleres %}   

    <div class="container bg-white pt-2 pb-3 mb-4">
        <div class="titulo-taller text-dark">{{ taller.titulo }}</div> 
        <div class="col-12 d-flex justify-content-start align-items-center sin-pad-left">
            <img src="/images/icons/calendario.png" >
            <small class="text-muted pl-2">{{ taller.fecha|date('d-m-Y H:i
            ') }}</small>
        </div>
        <div class="text-dark pt-3">
            <p>{{ taller.descripcion }}</p>
        </div>
        <div class="col-12 d-flex justify-content-end  sin-pad-left text-dark">
            
            <a href="" class="text-dark"><img src="/images/icons/mas_info.png" class="pr-2"><small class="text-dark"><b>Más Información</b></small></a>
            
        </div>
    </div>
    

{% endfor %}

{% endblock %}