{% extends 'base.html.twig' %}

{% block body %}
        <h1>Próximos Talleres:</h1>
        <div class="container bg-white pt-2 pb-3">
            <div class="titulo-taller text-dark">NUESTROS MIEDOS</div> 
            <div class="col-12 d-flex justify-content-start align-items-center sin-pad-left">
                <img src="/images/icons/calendario.png" >
                <small class="text-muted pl-2">18 de Septiembre a las 18:45</small>
            </div>
            <div class="text-dark pt-3"><p>Ni me Explico ni me Entiendo
            Es un taller que de forma amena, descubrirás cuáles son tus miedos, esos que te impiden crecer y ser feliz.
            Te permitirá conocerte, comprenderte y cuidarte mejor. Aprenderás a relacionarte con tus emociones desde un lugar más efectivo y sano. Realizaremos prácticas de relajación que te ayudarán a introducir mayor serenidad en tu vida. Haremos visualizaciones que te aportarán claridad a esas dudas que no te permiten avanzar. Te daremos herramientas para tomar consciencia de tus temores y crear buenos hábitos para que te cuides mental y emocionalmente.
            </p>
            </div>
            <div class="col-12 d-flex justify-content-end  sin-pad-left text-dark">
                
                <a href="" class="text-dark"><img src="/images/icons/mas_info.png" class="pr-2"><small class="text-dark"><b>Más Información</b></small></a>
                
            </div>
        </div>
        <div class="container bg-white pt-2 pb-3">
            <div class="titulo-taller text-dark">NUESTROS MIEDOS</div> 
            <div class="col-12 d-flex justify-content-start align-items-center sin-pad-left">
                <img src="/images/icons/calendario.png" >
                <small class="text-muted pl-2">18 de Septiembre a las 18:45</small>
            </div>
            <div class="text-dark pt-3"><p>Ni me Explico ni me Entiendo
            Es un taller que de forma amena, descubrirás cuáles son tus miedos, esos que te impiden crecer y ser feliz.
            Te permitirá conocerte, comprenderte y cuidarte mejor. Aprenderás a relacionarte con tus emociones desde un lugar más efectivo y sano. Realizaremos prácticas de relajación que te ayudarán a introducir mayor serenidad en tu vida. Haremos visualizaciones que te aportarán claridad a esas dudas que no te permiten avanzar. Te daremos herramientas para tomar consciencia de tus temores y crear buenos hábitos para que te cuides mental y emocionalmente.
            </p>
            </div>
            <div class="col-12 d-flex justify-content-end  sin-pad-left text-dark">
                
                <a href="" class="text-dark"><img src="/images/icons/mas_info.png" class="pr-2"><small class="text-dark"><b>Más Información</b></small></a>
                
            </div>
        </div>
    

{% endblock %}