body {
    background-color: #efefef;
}

select {
    background-color: white;
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    color: #495057;
    border-radius: .25rem;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.borde-redondeado {
    border-radius: .25rem; 
}

.margin-labe {
    margin-bottom: .5rem;
}

.fond-gris-suave {
    background-color: #efefef;
}

.fondo-gris {
    background-color: #353535;
}

.verde-suave {
    background-color: #c6fea0;
}

.titulo-taller {
    font-size: x-large;
    font-weight: bold;
}

.sin-pad-left {
    padding-left: 0px;
}

.alto-textarea {
    height: 250px;
}