body {
    background-color: #efefef;
}

select {
    background-color: white;
    margin-right: 4px;
    padding: 2px;
}

.fondo-gris {
    background-color: #353535;
}

.verde-suave {
    background-color: #c6fea0;
}

.titulo-taller {
    font-size: x-large;
    font-weight: bold;
}

.sin-pad-left {
    padding-left: 0px;
}

.alto-textarea {
    height: 250px;
}