<div class="col-3">
    <div class="align-items-center mb-3">
        <a href="{{ path('dashboard') }}" class="text-dark"><img src="/images/icons/mas_info.png" class="pr-2 pb-1">Añadir Taller</a>
    </div>
    <a href="{{ path('editar_talleres') }}" class="text-dark"><img src="/images/icons/editar.png" class="pr-2 pb-1">Editar Talleres</a>
    
</div>